.header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-address {
    margin-left: 318px;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .header-list+.header-list {
    margin-left: 50px;
}

.header-list {
    position: relative;
}

.header-link:hover,
.header-link:focus {
    color: var(--logo-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}