body {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    color: var(--font-color);
    background-color: var(--main-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.marker {
    list-style: none;
}
