.footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: block;
    margin-bottom: 28px;

    color: var(--main-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}

.footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}