.header {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
  }

  &-address {
    margin-left: 318px;
  }


  &-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--font-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
  &-list &-item + &-item {
    margin-left: 50px;
  }

  &-item {
    position: relative;
  }

  &-link:hover,
  &-link:focus {
    color: var(--logo-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-nav {
    margin-left: 93px;
  }
}
