.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--header-color);
    text-decoration: none;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}

.logo-span {
    color: var(--logo-color);
}   